# Where your admin key exists on your local machine (if you have one)
export ADMIN_KEY_PATH=~/.ssh/sat-republic/root
# What the inventory of hosts you want to run scripts against. This host should be specified in your ./hosts directory 
export INVENTORY_PATH=./hosts/digital-ocean/bitcoin-box-1