[Unit]
Description=Corpo Server
After=network.target

[Service]
User=corpo
ExecStart=podman start corpo
StandardOutput=journal
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target