<html>

<head>
    <title>Krondor Hetzner IaC</title>
</head>

<body>
    <h1>Thank's for stopping by {{ domain }}!</h1>
    <p>This server hosts my personal networked services:</p>
    <ul>
        <li>This page ({{ domain }}). I'm going to make this eventually point to my personal blog.</li>
        <li><a href="https://ipfs.{{ domain }}/ipfs">Public IPFS gateway</a> (pinned content only) </li>
        <li><a href="https://ipfs.{{ domain }}/api">IPFS RPC API</a> (basic auth required) </li>
    </ul>
</body>

</html>