<html>

<head>
    <title>Krondor Hetzner IaC</title>
</head>

<body>
    <h1>Thank's for stopping by {{ domain }}!</h1>
    <p>This server hosts my personal networked services:</p>
    <ul>
        <li><a href="https://{{ domain }}/ipfs">IPFS</a></li>
    </ul>
</body>

</html>